@import url('value.less');

/*base*/
.cb {
	clear: both !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
	display: block !important;
}
input,
select,
textarea {
	font-size: @fontSize;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  margin-bottom: 20px;
}
a,
a:visited,
a:focus{
	color: @colorBlack;
	text-decoration: none !important;
	&:hover {
		color: @colorFirmSecond;
	}

}
ul.no-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
table.no-border {
	border: 0;
	margin: 0;
	td, th {
		border: 0;
		padding: 0;
	}
}
.mb45 {
	margin-bottom: 45px !important;
}
.mt40 {
	margin-top: 40px;
}
.light {
	color: @colorLight !important;
}
.first-p {
	font-size: 20px;
	font-weight: 700;
	color: @colorFirm;
}
.second-p {
	font-size: @fontSizeMini;
}
/*base*/

#wrapper {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
	.wrapp_hold{
		padding: 0 0 @footerSize;
	}
}

.container {
	width: 1446px;
	padding: 0 30px;
	margin: 0 auto;
	@media (max-width: @notebook) {
        width: 1180px;
	}
	@media (max-width: @notebookTable) {
        width: 1024px;
	}
    &-in {
        padding: 0 55px;
        @media (max-width: @notebook) {
            padding: 0 35px;
        }
        @media (max-width: @notebookTable) {
          padding: 0 15px;
        }
    }

}

body {
	font-family: @fontFamily;
	font-size: @fontSize;
	color: @colorFirm;
	background-color: @backgroundMain;
    min-width: 1024px;
    overflow-x: auto;
}

.fix-position {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @backgroundLight;
  border-bottom: 1px solid @colorBorder;
}
.header {
	position: relative;
	z-index: 2;
	background-color: @backgroundLight;
	border-bottom: 1px solid @colorBorder;
	&__inner {
		min-height: @heightTopMenu;
		padding: 15px 0;
		display: flex;
		align-content: center;
		justify-content: space-between;
	}
	.logo {
		display: flex;
		align-items: center;
	}
	&__right {
		display: flex;
		align-items: center;
		float: right;
		margin: 0 -15px;
		li {
			float: left;
			padding: 0 15px;
		}
		a {
			font-weight: 400;
			display: inline-block;
			.easy;
			&:hover {
				color: @colorFirmSecond;
			}
		}
		.header__phone {
			font-size: @fontSizeMeddium;
			font-weight: 700;
			padding-left: 25px;
			margin-left: 35px;
			margin-right: 10px;
			background: url("../img/phone.svg") no-repeat left center;
		}
	}
	.ico-link {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 5px;
		border: 1px solid @colorBorder;
		border-radius: 40px;
		background-repeat: no-repeat;
		background-position: center;
		.easy;
		&:hover {
			background-color: #999;
		}
		sup {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -3px;
			right: -2px;
			font-size: 9px;
			font-weight: 700;
			text-align: center;
			width: 20px;
			height:20px;
			color: @colorLight;
			background-color: @colorFirm;
			border-radius: 20px;
		}
		&.mod--search {
			background-image: url("../img/search.svg");
		}
		&.mod--basket {
			background-image: url("../img/basket.svg");
		}
	}
	&__bottom {
        margin-top: @heightTopMenu;
		display: @headerBottomMenu;
		border-top: 1px solid @colorBorder;
		&-menu {
			height: 70px;
			li {
				position: relative;
				float: left;
				height: 100%;
				text-align: center;
				border-left: 1px solid @colorBorder;
				&:first-child {
					border: 0;
				}
				a {
					font-size: 14px;
					font-weight: 700;
					display: flex;
					text-align: center;
					align-items: center;
					justify-content: center;
					text-transform: uppercase;
					width: 100%;
					height: 100%;
					.easy;
				}
				.sub-menu {
					display: block;
					position: absolute;
					top: calc(100% + 1px);
					background-color: @backgroundMain;
					visibility: hidden;
					opacity: 0;
					.easy;
					transition-delay: .200s;
					&:hover a {
						color: @colorFirmSecond;
					}
					li {
						float: none;
						width: 100%;
						border-bottom: 1px solid @colorBorder;
						border-left: 1px solid @colorBorder;
						border-right: 1px solid @colorBorder;
						a {
							color: @colorFirm;
							display: inline-block;
							font-size: @fontSizeZero;
							white-space: nowrap;
							text-align: left;
							text-transform: uppercase;
							padding: 15px 30px;
							&:hover {
								color: @colorFirm;
								background-color: @colorBorder;
							}
						}
					}
				}
				&:hover {
					.sub-menu {
						visibility: visible;
						opacity: 1;
					}
				}
			}

		}
	}
}
.after-header {
	height: 70px;
	display: flex;
	align-items: center;
	&__right {
		float: right;
	}
}
.breadcrumb {
	margin: 0 -15px;
	li {
		position: relative;
		float: left;
		color: @colorFirmSecond;
		font-size: @fontSizeMini;
		padding: 4px 15px;
		a {
			color: @colorFirm;
		}
		& + li:before {
			content: '—';
			position: absolute;
			left: -5px;
			padding: 0;
		}
	}
}

.link-window-list {
	margin: 0 -20px;
	li {
		float: left;
		padding: 0 20px;
		a {
			font-size: @fontSizeMini;
			.easy;
		}
	}
	.ico-link-window {
		padding: 5px 0;
		padding-left: 35px;
		background-repeat: no-repeat;
		background-position: left center;
		&.mod--show {
			background-image: url("../img/show.svg");
		}
		&.mod--border {
			padding-left: 38px;
			background-image: url("../img/border.svg");
		}
		&.mod--price {
			background-image: url("../img/price.svg");
		}
		&.mod--discr {
			background-image: url("../img/discr.svg");
		}
	}
}
.button {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	color: @colorFirm;
	background-color: @backgroundLight;
	padding: 15px 35px;
	.easy;
}

.product-block {
  display: flex;
  justify-content: space-between;
  background-color: @backgroundLight;
  &__left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid @colorBorder;
    .block-left {
      padding-top: @paddingTopBottom;
      float: left;
      width: 42%;
      border-right: 1px solid @colorBorder;
      @media (max-width: @notebook) {
        padding-top: @paddingTopBottom/2;
      }
    }
    .block-right {
      padding-top: @paddingTopBottom;
      float: left;
      width: 58%;
    }
  }
  &__right {
    min-width: 325px;
  }
  .series-menu {
    width: 100%;
    text-align: center;
    li {
      border-top: 1px solid @colorBorder;
      &:first-child {
        border-top: 0;
      }
      a {
        display: flex;
        height: @heightMenuCategory;
        align-items: center;
        justify-content: center;
        font-size: @fontSizeMini;
        font-weight: 700;
        color: @colorFirmSecond;
        .easy;
        &:hover {
          color: @colorBlack;
        }
      }
      &.active {
        a {
          color: @colorLight;
          background-color: @colorBlack;
        }
      }
    }
  }

  .name-product {
    font-size: @productName;
    font-weight: 400;
  }

  .current-color {
    &-content {
      margin-bottom: 40px;
      font-weight: 400;
      font-size: @fontSizeMini;
    }
    &-row {
      &-title {
        color: @colorFirmSecond;
      }
    }
  }

  .configurator {
	  &-bg-colors {
		  padding: @paddingTopBottomInner 0;
	  }
	  &-bg-colors-result {
		  padding: @paddingTopBottomInner 0;
		  background: url('../img/fon/no_bg.gif');
		  background-position: center;
		  .easy;
	  }
	  &-result {
		  width: 250px;
		  height: 250px;
		  margin: 0 auto;
		  position: relative;
	  }
	  &-part-result {
		  width: 250px;
		  height: 250px;
		  position: absolute;
		  top: 0;
		  left: 0;
		  background-repeat: no-repeat;
		  background-position: center;
		  .easy;
	  }
      &-colors-part {
          position: relative;
          padding-bottom: 35px;
      }
      &-colors-container {
          width: 505px;
          padding: 0 35px;
          position: relative;
          @media (max-width: @notebook) {
            width: 390px;
            padding: 0 25px;
          }
          @media (max-width: @notebookTable) {
              width: 330px;
              padding: 0 35px;
          }
      }
      &-colors-wrapper {
          overflow: hidden;
      }
      &-colors-list {
          width: 10000px;
      }
      &-button-prev,
      &-button-next {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 30px;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
          .easy;
          &:hover {
              opacity: .7;
          }
          &.swiper-button-disabled {
              cursor: default;
              opacity: .5 !important;
          }
      }
      &-button-prev {
          left: 0;
          background-image: url('../img/prev.svg');
      }
      &-button-next {
          right: 0;
          background-image: url('../img/next.svg');
      }
  }

  .part-color {
    &-img {
      padding: 10px;
      margin-bottom: 8px;
      border: 1px solid transparent;
      background: transparent;
    }
    &-link {
      display: block;
      width: 85px;
      height: 130px;
      float: left;
      position: relative;
      font-weight: 400;
      font-size: 10px;
      line-height: 11px;
      color: @colorFirmSecond;
      text-align: center;
      text-decoration: none;
      .easy;
      &.active {
        color: @colorFirm;
        .part-color-img {
            border-color: #e5e5e5;
            background: #f0f0f0;
        }
      }
      &:hover {
        color: @colorFirm;
        .part-color-img {
          border-color: #e5e5e5;
        }
      }
    }

  }

	.bg-colors-list {
		margin: 0 -5px;
		margin-top: 35px;
		li {
			display: inline-block;
			cursor: pointer;
			margin: 0 5px;
			margin-bottom: 10px;
			width: 50px;
			height: 50px;
			padding: 11px;
			background-color: #f9f9f9;
			border: 2px solid #f5f5f5;
			.easy;
			&:hover {
				border-color: @colorBorder;
			}
			&.active {
				border: 2px solid #000;
			}
			span {
				display: block;
				width: 25px;
				height: 25px;
				background-position: center;
				background-size: cover;
			}
		}
	}
}

.footer {
	min-height: @footerSize;
	margin: -@footerSize 0 0;
	position: relative;
	font-size: 18px;
	background: @colorFirm;
	color: #fff;
	&__top {
		display: flex;
		justify-content: space-between;
		padding: 52px 0;
		p {
			font-size: @fontSizeMini;
			color: @colorFirmSecond;
			margin-bottom: 7px;
			&.adress {
				font-size: @fontSize;
				color: @colorLight;
			}
		}
		.phone {
			display: inline-block;
			font-size: @fontSizeMeddium;
			font-weight: 700;
			color: @colorLight;
			margin-bottom: 20px;
		}
		&-item {
			.button {
				margin-bottom: 45px;
			}
		}
		&-menu {
			margin-top: 20px !important;
			li {
				margin-top: 12px;
				a {
					font-size: @fontSize;
					color: @colorLight;
					.easy;
					&:hover {
						color: @colorFirmSecond;
					}
				}
			}
		}
		&-social {
			li {
				float: left;
				margin: 0 7px;
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 24px;
					height: 24px;
					.easy;
					&:hover {
						opacity: .6;
					}
				}
			}
		}
		.map-road {
			display: inline-block;
			position: relative;
			font-size: @fontSize;
			color: @colorFirmSecond;
			margin-top: 25px;
			&::before {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: @colorFirmSecond;
				opacity: 1;
				.easy;
			}
			&:hover::before {
				opacity: 0;
			}
		}
		.mailto {
			font-size: @fontSizeMini;
		}
	}
	&__bottom {
		height: 140px;
		display: flex;
		align-items: center;
		color: @colorFirmSecond;
		border-top: 1px solid #2d2d2d;
		.copyright {
			float: left;
			p {
				font-size: @fontSizeFooter;
				font-weight: 700;
				margin-bottom: 5px;
			}
			span {
				font-size: 9px;
				font-weight: 300;
				line-height: 14px;
				display: inline-block;
			}
		}
		.list-pay {
			float: right;
			li {
				margin: 0 10px;
				float: left;
				display: flex;
				height: 64px;
				align-items: center;
			}

		}
	}
}