@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?iefix') format('eot'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: 300;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?iefix') format('eot'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?iefix') format('eot'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: 700;
}
.easy {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.easyBig {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.link-2 li {
  width: 50%;
}
.link-3 li {
  width: 33.3333%;
}
.link-4 li {
  width: 25%;
}
.link-5 li {
  width: 20%;
}
.link-6 li {
  width: 16.65%;
}
.link-7 li {
  width: 14.2%;
}
.link-8 li {
  width: 12.5%;
}
.link-9 li {
  width: 11.1111%;
}
.link-10 li {
  width: 10%;
}
/*base*/
.cb {
  clear: both !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  float: none !important;
  display: block !important;
}
input,
select,
textarea {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 20px;
}
a,
a:visited,
a:focus {
  color: #111;
  text-decoration: none !important;
}
a:hover,
a:visited:hover,
a:focus:hover {
  color: #999;
}
ul.no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
table.no-border {
  border: 0;
  margin: 0;
}
table.no-border td,
table.no-border th {
  border: 0;
  padding: 0;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mt40 {
  margin-top: 40px;
}
.light {
  color: #fff !important;
}
.first-p {
  font-size: 20px;
  font-weight: 700;
  color: #111;
}
.second-p {
  font-size: 13px;
}
/*base*/
#wrapper {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}
#wrapper .wrapp_hold {
  padding: 0 0 525px;
}
.container {
  width: 1446px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1449px) {
  .container {
    width: 1180px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 1024px;
  }
}
.container-in {
  padding: 0 55px;
}
@media (max-width: 1449px) {
  .container-in {
    padding: 0 35px;
  }
}
@media (max-width: 1199px) {
  .container-in {
    padding: 0 15px;
  }
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #111;
  background-color: #f6f6f6;
  min-width: 1024px;
  overflow-x: auto;
}
.fix-position {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.header {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.header__inner {
  min-height: 85px;
  padding: 15px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  float: right;
  margin: 0 -15px;
}
.header__right li {
  float: left;
  padding: 0 15px;
}
.header__right a {
  font-weight: 400;
  display: inline-block;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header__right a:hover {
  color: #999;
}
.header__right .header__phone {
  font-size: 20px;
  font-weight: 700;
  padding-left: 25px;
  margin-left: 35px;
  margin-right: 10px;
  background: url("../img/phone.svg") no-repeat left center;
}
.header .ico-link {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header .ico-link:hover {
  background-color: #999;
}
.header .ico-link sup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3px;
  right: -2px;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #111;
  border-radius: 20px;
}
.header .ico-link.mod--search {
  background-image: url("../img/search.svg");
}
.header .ico-link.mod--basket {
  background-image: url("../img/basket.svg");
}
.header__bottom {
  margin-top: 85px;
  display: block;
  border-top: 1px solid #e5e5e5;
}
.header__bottom-menu {
  height: 70px;
}
.header__bottom-menu li {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
  border-left: 1px solid #e5e5e5;
}
.header__bottom-menu li:first-child {
  border: 0;
}
.header__bottom-menu li a {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header__bottom-menu li .sub-menu {
  display: block;
  position: absolute;
  top: calc(101%);
  background-color: #f6f6f6;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transition-delay: .200s;
}
.header__bottom-menu li .sub-menu:hover a {
  color: #999;
}
.header__bottom-menu li .sub-menu li {
  float: none;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.header__bottom-menu li .sub-menu li a {
  color: #111;
  display: inline-block;
  font-size: 11px;
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;
  padding: 15px 30px;
}
.header__bottom-menu li .sub-menu li a:hover {
  color: #111;
  background-color: #e5e5e5;
}
.header__bottom-menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.after-header {
  height: 70px;
  display: flex;
  align-items: center;
}
.after-header__right {
  float: right;
}
.breadcrumb {
  margin: 0 -15px;
}
.breadcrumb li {
  position: relative;
  float: left;
  color: #999;
  font-size: 13px;
  padding: 4px 15px;
}
.breadcrumb li a {
  color: #111;
}
.breadcrumb li + li:before {
  content: '—';
  position: absolute;
  left: -5px;
  padding: 0;
}
.link-window-list {
  margin: 0 -20px;
}
.link-window-list li {
  float: left;
  padding: 0 20px;
}
.link-window-list li a {
  font-size: 13px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.link-window-list .ico-link-window {
  padding: 5px 0;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left center;
}
.link-window-list .ico-link-window.mod--show {
  background-image: url("../img/show.svg");
}
.link-window-list .ico-link-window.mod--border {
  padding-left: 38px;
  background-image: url("../img/border.svg");
}
.link-window-list .ico-link-window.mod--price {
  background-image: url("../img/price.svg");
}
.link-window-list .ico-link-window.mod--discr {
  background-image: url("../img/discr.svg");
}
.button {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
  padding: 15px 35px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.product-block__left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e5e5e5;
}
.product-block__left .block-left {
  padding-top: 50px;
  float: left;
  width: 42%;
  border-right: 1px solid #e5e5e5;
}
@media (max-width: 1449px) {
  .product-block__left .block-left {
    padding-top: 25px;
  }
}
.product-block__left .block-right {
  padding-top: 50px;
  float: left;
  width: 58%;
}
.product-block__right {
  min-width: 325px;
}
.product-block .series-menu {
  width: 100%;
  text-align: center;
}
.product-block .series-menu li {
  border-top: 1px solid #e5e5e5;
}
.product-block .series-menu li:first-child {
  border-top: 0;
}
.product-block .series-menu li a {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  color: #999;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block .series-menu li a:hover {
  color: #111;
}
.product-block .series-menu li.active a {
  color: #fff;
  background-color: #111;
}
.product-block .name-product {
  font-size: 32px;
  font-weight: 400;
}
.product-block .current-color-content {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 13px;
}
.product-block .current-color-row-title {
  color: #999;
}
.product-block .configurator-bg-colors {
  padding: 40px 0;
}
.product-block .configurator-bg-colors-result {
  padding: 40px 0;
  background: url('../img/fon/no_bg.gif');
  background-position: center;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block .configurator-result {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
.product-block .configurator-part-result {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block .configurator-colors-part {
  position: relative;
  padding-bottom: 35px;
}
.product-block .configurator-colors-container {
  width: 505px;
  padding: 0 35px;
  position: relative;
}
@media (max-width: 1449px) {
  .product-block .configurator-colors-container {
    width: 390px;
    padding: 0 25px;
  }
}
@media (max-width: 1199px) {
  .product-block .configurator-colors-container {
    width: 330px;
    padding: 0 35px;
  }
}
.product-block .configurator-colors-wrapper {
  overflow: hidden;
}
.product-block .configurator-colors-list {
  width: 10000px;
}
.product-block .configurator-button-prev,
.product-block .configurator-button-next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block .configurator-button-prev:hover,
.product-block .configurator-button-next:hover {
  opacity: .7;
}
.product-block .configurator-button-prev.swiper-button-disabled,
.product-block .configurator-button-next.swiper-button-disabled {
  cursor: default;
  opacity: .5 !important;
}
.product-block .configurator-button-prev {
  left: 0;
  background-image: url('../img/prev.svg');
}
.product-block .configurator-button-next {
  right: 0;
  background-image: url('../img/next.svg');
}
.product-block .part-color-img {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  background: transparent;
}
.product-block .part-color-link {
  display: block;
  width: 85px;
  height: 130px;
  float: left;
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #999;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block .part-color-link.active {
  color: #111;
}
.product-block .part-color-link.active .part-color-img {
  border-color: #e5e5e5;
  background: #f0f0f0;
}
.product-block .part-color-link:hover {
  color: #111;
}
.product-block .part-color-link:hover .part-color-img {
  border-color: #e5e5e5;
}
.product-block .bg-colors-list {
  margin: 0 -5px;
  margin-top: 35px;
}
.product-block .bg-colors-list li {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  padding: 11px;
  background-color: #f9f9f9;
  border: 2px solid #f5f5f5;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-block .bg-colors-list li:hover {
  border-color: #e5e5e5;
}
.product-block .bg-colors-list li.active {
  border: 2px solid #000;
}
.product-block .bg-colors-list li span {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
}
.footer {
  min-height: 525px;
  margin: -525px 0 0;
  position: relative;
  font-size: 18px;
  background: #111;
  color: #fff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 52px 0;
}
.footer__top p {
  font-size: 13px;
  color: #999;
  margin-bottom: 7px;
}
.footer__top p.adress {
  font-size: 16px;
  color: #fff;
}
.footer__top .phone {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.footer__top-item .button {
  margin-bottom: 45px;
}
.footer__top-menu {
  margin-top: 20px !important;
}
.footer__top-menu li {
  margin-top: 12px;
}
.footer__top-menu li a {
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.footer__top-menu li a:hover {
  color: #999;
}
.footer__top-social li {
  float: left;
  margin: 0 7px;
}
.footer__top-social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.footer__top-social li a:hover {
  opacity: .6;
}
.footer__top .map-road {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #999;
  margin-top: 25px;
}
.footer__top .map-road::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.footer__top .map-road:hover::before {
  opacity: 0;
}
.footer__top .mailto {
  font-size: 13px;
}
.footer__bottom {
  height: 140px;
  display: flex;
  align-items: center;
  color: #999;
  border-top: 1px solid #2d2d2d;
}
.footer__bottom .copyright {
  float: left;
}
.footer__bottom .copyright p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.footer__bottom .copyright span {
  font-size: 9px;
  font-weight: 300;
  line-height: 14px;
  display: inline-block;
}
.footer__bottom .list-pay {
  float: right;
}
.footer__bottom .list-pay li {
  margin: 0 10px;
  float: left;
  display: flex;
  height: 64px;
  align-items: center;
}
