@media only screen and (min-width: 2500px) {

}

@media only screen and (max-width: 1399px) {
	
}

@media only screen and (min-width: 1280px) {
	
}

@media only screen and (min-width: 980px) {
	.menu_bl {
		display: block !important;
	}

    .fonmenu {
    	width: 0 !important;
    }
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 640px) {
	

}

@media only screen and (max-width: 1439px) {
	.container,
	.container_mobile {
		width: 1280px;
	}

	.inners_text_container {
		padding: 0 102px;
	}

	/*#page-background .background-stripe {
		width: 118px;
	}*/

	.catalog_list__sub {
		width: 915px;
	}

	.catalog_list__sub .list_categ li a {
		padding-left: 65px !important;
		background-position: 15px center;
	}

	.article--bottom .contact_list {
		margin: 24px 0;
	}

	.pay-method {
		margin-left: 5px;
	}

	.social {
		margin-left: 15px;
	}

	.article--bottom .contact_list li a {
		font-size: 14px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	#line01,
	#line03 {
	    width: 370px;
	}

	.services-block__inner {
		height: 305px;
	}
	.services-block-list__text {
	    padding: 20px 33px; 
	}
	.services-block-list__descr {
		height: 65px;
	}


	/*end 1440*/
}


@media only screen and (max-width: 1399px) {
	.container--big {
		width: 1280px;
	}

	.main_menu li a {
		font-size: 14px;
	}

	.totop {
		right: 25px;
	}

}


@media only screen and (max-width: 1279px) {

	.container,
	.container--big,
	.container_mobile {
	    width: 980px;
	}

	.main_menu li a {
		font-size: 13px;
	}

	header .phone {
		font-size: 14px;
		margin-top: 47px;
	}


	.page-background .background-stripe {
		width: 12.5%;
	}

	.inners_text_container {
		padding: 0 115px;
	}

	.article--bottom .contact_list {
		margin-right: 0;
    	margin-bottom: 10px;
	}

	.pay-method {
		margin-left: 0;
	}

	.pay-method li:first-child {
		margin-left: 0;
	}

	.main_menu {
		margin-top: 47px;
	}

	.main_menu > li {
		padding: 0 8px;
	}

	

	.basket__open {
		margin-left: 5px;
	}

	header .phone {
		padding-left: 10px;
	}

	.searchform__open {
		margin-left: 10px;
	}

	#popular_gallery li .img img {
		max-width: 450px;
	}

	.lSSlideOuter .lSPager.lSGallery {
		margin-top: 20px !important;
	}

	.text_in_slider {
		margin-right: 0;
	}

	.about_02 .image-container .text {
		margin-left: 525px;
	}

	.about_02 .image-container .text p {
		font-size: 24px;
		line-height: 32px;
	}

	.section_list li,
	.team_list li {
		width: 50%;
	}

	.list_us_work li {
		width: 50%;
	}

	/*1280 Service*/

	.service_in .big_fon h2 {
		font-size: 52px;
	}

	.service_in .services_list_in li h3 {
		font-size: 24px;
		line-height: 34px;
	}

	.service_inner_link .text h3 {
		font-size: 54px;
	}

	/**/

	/*1280 Portfolio*/
	.description_hiend.description_portfolio .side_text h2 {
		font-size: 32px;
	}
	/**/

	.table_product .zero {
		display: none;
	}

	.table_product th,
    .table_product td {
    	padding: 25px 15px;
    }

    .article--product_descr .banners .image {
		background-position: right center;
	}

	.article--product_descr .banners .txt {
		padding: 33px;
		background-color: rgba(255,255,255,.75);
	}

	.article--more_fotos .more_fotos .img {
		width: 33.3333% !important;
	}

	/*1280 Catalog*/
	.sort_block {
		float: left;
	}

	.catalog_left .catalog_list.cl_first .txt .type {
		font-size: 18px;
		line-height: 28px;
	}

	/*1280 Catalog*/

	.service_in_text {
		padding: 0;
	}

	.pns li a.next {
		background-position: 87% center;
    }
    .pns li a.next:hover {
        background-position: 87% center;
    }

    /*1280 Brand*/
    .list_brand_product li .inner .fon {
    	opacity: 1;
    }

    /*1280*/
	
	.catalog_list__sub {
		width: 690px;
	}

	.catalog_list__sub > li {
		padding: 15px;
	}

	.catalog_list__sub .list_categ li {
		margin-bottom: 5px !important;
	}

	.catalog_list__sub .list_categ li a {
		font-size: 15px;
		padding: 15px 10px !important;
    	padding-left: 60px !important;
    	background-position: 10px center;
	}

	.banner-callback__info {
		padding: 0 20px;
	}

	.banner-callback__info p {
		font-size: 26px;
		line-height: 36px;
	}

	.radio-list label i {
		font-size: 16px;
	}

	.article--bottom .social {
		width: 100%;
	}

	.article--bottom .right {
		width: 65.5%;
	}

	.service-in-main .in-main__text {
		padding: 32px 30px;
		font-size: 16px;
		line-height: 24px;
	}

	.faq-block__inner {
		padding: 25px 40px;
	}

	.faq-block__inner h4 {
		margin-bottom: 20px;
	}

	#line01,
	#line03 {
	    width: 270px;
	}

	.solutions-block__list li {
		width: 33.3333%;
	}
	.solutions-block__text h3 {
		font-size: 24px;
	}

}
/*End 1280*/


@media only screen and (max-width: 1199px) {
		
}

@media only screen and (max-width: 1024px) {

	
	
}

@media only screen and (max-width: 1023px) {

	.img_text {
		margin-left: 0 !important;
	}

	.catalog_list .details .button {
		padding: 10px 20px;
	}

}


@media only screen and (max-width: 979px) {
    

	.container,
	.container--big,
	.slider_bottom .sldr > ul > li {
	    width: 768px !important;
	}

	.container_mobile,
	#popular_gallery .container {
		width: 100% !important;
	}

	.page-background .background-stripe {
		width: 118px;
	}

	header .container {
		width: 100% !important;
	}

	.inners_text_container {
		padding: 0;
	}

	.fonmenu .container  {
		width: 768px !important;
	}

	.page-background .background-stripe {
		border-right: 0;
		border-left: 1px solid #e5e6ea;
	}

	.page-background .background-stripe:nth-child(2n) {
		border: 0;
	}

	.page-background .background-stripe:nth-child(6) {
		border-right: 1px solid #e5e6ea;
	}

	.article--bottom .page-background .background-stripe {
		border-color: #303235;
	}	

	.fonmenu .page-background .background-stripe {
        border-color: #bd792e;
    }

	.hit_list li {
		width: 100%;
		margin-bottom: 30px;
	}	

	.article--bottom .contact_list,
	.article--bottom .social {
		float: none;
    	margin: 0;
	}

	.pay-method {
		margin-top: 15px;
	}

	.article--bottom .contact_list li {
		float: none;
		margin: 0;
		margin-bottom: 15px;
	}

	.article--bottom .contact_list li:last-child {
		margin-left: 5px;
	}

	.grid_row .col {
		width: 170px;
	}

	header .phone {
		position: absolute;
		right: 145px;
	}

	.searchform__open,
	.basket__open {
		position: absolute;
		right: 100px;
	}

	.basket__open {
		right: 65px;
	}

	/*.fonmenu .after {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 250px;
		background-color: #fff;
	}*/

	.menu_bl {
		position: absolute;
		left: 0;
		z-index: 12;
	}

	.menu_bl:before,
	.menu_bl:after {
		content: " ";
  		display: table;
  		clear: both;
	}

	.main_menu {
		position: absolute;
		top: 130px;
		right: 0;
		/*margin-top: 130px;*/
		padding: 0;
		margin: 0;
		width: 350px;
		margin: 0;
		max-width: 100%;
	}	

	/*.main_menu::before {
		content: '';
		display: block;
		position: absolute;
		top: -130px;
		width: 100%;
		height: 130px;
		background-color: #e08a2d;
	}*/

	/*.main_menu::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -130px;
		width: 100%;
		height: 130px;
		background-color: #e08a2d;
	}*/

	.main_menu li {
		width: 100%;
		height: auto;
		border: 0;
		float: none;
		text-align: right;
		padding: 0;
	}

	/*.main_menu li:last-child::after {
		content: '';
        position: absolute;
        z-index: 1;
        display: block;
        bottom: 0;
        width: 350px;
        height: 100%;
        background-color: #e08a2d;
	}*/

	.main_menu li a {
		display: block;
		font-size: 22px;
		font-weight: 100;
		color: #fff;
		/*background-color: #e08a2d;*/
		padding: 15px 20px;
		padding-left: 30px;
		/*border-bottom: 1px solid #e08a2d;*/
		margin-bottom: 1px;
	}

	.main_menu li a:hover {
		color: #272e34;
	}

	.main_menu li a.parent_a {
		background-color: rgba(39,46,52,.08);
		background-image: url('../img/menu_open.png');
		background-repeat: no-repeat;
		background-position: 20px;
	}

	.main_menu li a.parent_a.open {
		background-color: #272e34;
		background-image: url('../img/menu_close.png');
		background-repeat: no-repeat;
		background-position: 20px;
		border-color: transparent;
		margin-bottom: 0;
	}

	.main_menu li a.parent_a.open:hover {
		color: #e08a2d;
	}

	.main_menu li ul.submenu {
		display: none;
		position: relative;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		padding: 10px 20px;
		left: 0;
		background: #383e43;
		/*ackground-color: transparent;*/
	}

	.main_menu li:hover ul {
		display: none;
	}

	.main_menu li ul.submenu > li {
		padding: 10px 0;
	}

	.main_menu li ul.submenu > li a {
		font-size: 18px;
		font-weight: 300;
		display: inline-block;
		color: #797c7e;
		border: 0;
		padding: 0;
		background: transparent !important;
	}

	.main_menu li ul.submenu > li a:hover {
		color: #e08a2d;
	}

	.menu_btn {
		z-index: 14;
		display: block;
	}

	.menu_bl {
		display: none;
	}

	#popular_gallery li .text_slide {
		width: 100%;
		float: none;
	}

	#popular_gallery li .img {
		margin-top: 50px;
		height: auto;
	}

	 #popular_gallery li .img,
	 #popular_gallery li.active .img  {
	 	width: 100%;
	 	float: none;
	 }

	 #popular_gallery li .img img {
	 	max-width: 100%;
	 	position: relative;
	 	right: 0;
	 }

	 .img_text {
		background-position: left top !important;
	}

	.art_main {
		margin-bottom: 73px;
	}

	.article--our_company .container {
		width: 100% !important;
		padding: 0;
	}

	.our_company_list li .text_descr {
		padding-left: 65px;
	}

	.our_company_list li:nth-child(2n) .text_descr {
        padding-left: 0;
        padding-right: 65px;
    }
	
	.totop {
		display: none !important;
	}

	.about_01 .image-container {
		height: 480px;
	}

	.about_01 .text {
		bottom: 33px;
		padding: 0 15px;
	}

	.about_01 .text p {
		font-size: 18px;
		line-height: 30px;
	}

	.about_02 .image-container.is-visible .image {
		opacity: .65;
	}

	.about_02 .image-container .text {
		margin-left: 0;
		padding-left: 15px;
		padding-bottom: 35px;
	}

	.about_02 .image-container .text .in {
		vertical-align: bottom;
	}

	.about_02 .image-container .text p {
		font-weight: 300;
	}

	.article--cooper_us .pulse_holder {
		display: none;
	}

	.list_faq .answer {
		
	}

	.list_faq > li > .span {
		font-size: 18px;
		font-weight: 300;
		line-height: 26px;
		padding: 22px 65px !important;
	    background-position: 15px 22px !important;
	}

	.list_faq > li > .span::after {
		top: 23px;
		right: 15px;
	}

	.list_faq .answer,
	.table_tech td {
		font-size: 16px;
		line-height: 26px;
	}

	.list_faq .answer ul li {
		font-size: 16px;
		margin-bottom: 5px;
	}

	/*980 Service*/
	.service_in .services_list_in li {
		width: 50%;
	}

	.service_inner_link .text {
		padding: 0 45px;
	}

	/**/

	/*980 HiEnd*/

	.description_hiend {
		padding-bottom: 35px;
	}
	
	.description_hiend .side_text {
		width: 100%;
		padding: 0 !important;
	}

	.description_hiend .prlx_img {
		width: 100%;
		height: auto;
		margin-top: -415px;
	}

	.description_hiend .prlx_img .img {
		position: relative;
		top: 0 !important;
		margin-bottom: 40px;
		float: left;
	}

	/**/

	/*980 ModalWindow*/
	.modal_window,
	.modal_window.basket-good {
		width: 440px;
		margin-left: -220px;
	}

	.modal_window h4 {
		font-size: 24px;
	}

	.modal_window .modal_close {
		top: 34px;
	}

	/**/

	.article--product_descr .banners .txt {
		max-width: 100%;
	}

	.article--cooper_us.product_in {
		padding: 50px 0;
	}

	.article--more_fotos .more_fotos .img {
		width: 100% !important;
	}

	/*980 Catalog*/
	.back_btn.article--top_catalog .inputblock {
		margin-top: 65px;
	}

	.back_search {
		/**/
		position: relative;
		top: 0;
		left: 0;
		float: left;
		margin-bottom: 28px;
		/*top: 0;
		left: 30px;
		right: auto;*/
	}

	.catalog_list li {
		width: 50%;
	}

	.form_search {
		padding: 50px;
	}

	.check_list li {
		width: 50%;
	}

	.slide_price {
		width: 500px;
	}

	.catalog_left .catalog_list,
	.catalog_left .catalog_list.cl_first {
		width: 50%;
	}

	.catalog_left .catalog_list li {
		width: 100%;
	}

	/*980 Catalog*/

	.navi_service a {
		width: 355px;
	}

	.navi_service .next,
	.navi_service a.next .tooltips {
		background-position: 305px center;
	}

	.pns li {
		height: 200px;
	}

	.pns li a {
		font-size: 24px;
		line-height: 32px;
	}

	.pns li a.next {
		background-position: 83% center;
    }
    .pns li a.next:hover {
        background-position: 83% center;
    }

    .complex_block {
    	padding-bottom: 70px;
    }

    .complex_list li {
    	width: 50%;
    	margin-bottom: 30px;
    }

    .blinds .text p {
	    font-size: 24px;
	    line-height: 34px;
	}

	.list_brands_new li {
		width: 50%;
	}

	.blogs_list li {
		width: 100%;
	}

	/*980 Brand*/
	.list_brand_product li {
		width: 100%;
	}

	.list_brand_product li .inner .fon {
		opacity: 0;
	}

	/*980*/

	/*980 BlogInner*/
	.back_blog h1 {
		font-size: 50px;
	}

	.blockquote {
		padding: 50px 30px;
	}

	/*980*/


	/*Banners*/
	.banners__inner {
		padding: 35px;
	}

	.banners__inner::after {
		opacity: 1;
	}
	/*End Banners*/

	.catalog_list__sub {
		width: 355px;
	}

	.catalog_list__sub .list_categ li {
		height: auto;
	}

	.catalog_list__sub .list_categ li a {
		background-image: none !important;
		padding: 5px 10px !important;
		height: auto;
	}

	.list-catalog__menu li {
		margin-bottom: 22px;
	}

	.list-catalog__menu li a {
		font-size: 16px;
	}

	.list-catalog__menu li {
		margin-bottom: 15px;
	}

	.social-table td {
		display: block;
		float: left;
		padding: 15px 25px;
	}

	.social-table td {
		text-align: left;
		width: 33.3333%;
	}

	.banner-callback {
		font-weight: 400;
		background-position: left center;
	}

	.banner-callback b {
		font-weight: 500;
	}

	.banner-callback__fon {
		opacity: .8;
	}

	.main_menu.is--open {
		position: relative;
	}

	.mb-open .has-catalog-list {
		display: block !important;
	}

	.catalog-list__submenu-block {
		display: none !important;
	}

	.list-catalog__btn::after {
		display: none !important;
	}

	.main_menu.is--open > li:nth-child(2) > a {
        top: auto;
    }

    .main_menu.is--open > li {
    	opacity: 1;
    }

    .main_menu.is--open > li > a {
        position: relative;
    }

    .md-slide__phone {
		font-size: 52px;
		line-height: 58px;
	}

	.order__col,
	.order__col.order__col-right {
		float: none;
		width: 100%;
	}

	.infoline__item {
		float: none !important;
		text-align: center;
	}

	.infoline .contact_list {
		margin-top: 10px;
	}

	.infoline .contact_list li {
		float: none;
		display: inline-block;
		margin: 0 10px;
	}

	.list-foto li {
		width: 50%;
		height: 215px;
	}

	.article--bottom .right {
		float: right;
		width: 50%;
	}

	.article--bottom .social {
		width: 100%;
		float: right !important;
	}

	.contact-data__line {
		margin: 0 -15px;
		margin-bottom: 20px;
	}

	.contact-data__line .line-item {
		padding: 0 15px;
	}

	.line-item__link a,
    .line-item__link span {
    	font-size: 20px;
    	line-height: 28px;
    	font-weight: 300;
    }

    .contact-data {
	    margin-top: 10px;
	    margin-bottom: 50px;
	}

	.service-in-main li {
		width: 50%;
	}

	.service-in-main .in-main__text {
		font-size: 18px;
		line-height: 26px;
	}

	.blog-in-main li {
		width: 100%;
	}

	.is--hidden {
        overflow-y: auto;
    }

    .main_menu.is--open li ul.submenu {
    	left: 0;
    	right: auto;
    }

    .faq-block__item {
    	width: 100%;
    }

    .faq-block__inner {
    	height: auto;
    }

    #line01,
	#line03 {
	    width: 200px;
	}

	.scheme-line.mod-horisontal-right-array:after,
	.scheme-line.mod-horisontal-right-array2:after {		
		background-position: right center;
	}
	.scheme-line.mod-horisontal-right-array:after {
		width: 110px;
	}
	.scheme-line.mod-horisontal-right-array2:after,
	.scheme-line.mod-horisontal-top-left-array2:before,
	.scheme-line.mod-horisontal-top-right-array2:before {
		width: 156px;
	}
	.scheme-line.mod-horisontal-top-left-array2:before {
		left: -152px;
	}
	.scheme-line.mod-horisontal-top-right-array2:before {
		right: -156px;
	}
	.scheme-line.mod-horisontal-left-array:after,
	.scheme-line.mod-horisontal-top-left-array:before,
	.scheme-line.mod-horisontal-top-right-array:before {
		width: 110px;
	}
	.scheme-line.mod-horisontal-top-left-array:before {
		left: -106px;
	}
	.scheme-line.mod-horisontal-top-right-array:before {
		right: -110px;
	}
	.scheme-line.mod-horisontal-left-array2:after {
		width: 156px;
	}

	
	.services-block-list__text h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.services-block__list li {
		width: 100%;
	}
	.services-block__list a:hover,
	.solutions-block__list a:hover {
	    -webkit-box-shadow: 0px 5px 20px 0px rgba(124, 124, 124, 0.5);
	    -moz-box-shadow: 0px 5px 20px 0px rgba(124, 124, 124, 0.5);
	    box-shadow: 0px 5px 20px 0px rgba(124, 124, 124, 0.5);
	}
	.services-block__inner,
	.mod--no-descr .services-block__inner {
		height: auto;
	}
	.services-block-list__descr {
		height: auto;
	}
	.solutions-block__list li {
		width: 50%;
	}

	.mod--has-blog.service-inner__main-images .image-item {
		width: 50% !important;
	}

}

/*End 980*/

@media only screen and (max-width: 900px) {


}

@media only screen and (max-width: 649px) {


}


@media only screen and (max-width: 767px) {

	.container,
	.container--big,
	.article--our_company .container {
	    width: 480px !important;
	    /*position: relative;*/
	}

	.container,
	.article--our_company .container {
		padding: 0 10px;
	}

	header .phone {
		position: absolute;
		right: 133px;
		font-size: 14px;
	}

	/*.searchform__open {
		position: absolute;
		right: 60px;
	}*/
	

	.page-background {
		display: none !important;
	}

	.copyright {
		font-size: 13px;
	}

	.grid_row .col {
		width: 100%;
	}

	/*.menu_btn {
		width: 106px;
		height: 106px;
		padding: 39px 36px;
	}*/

	.two-col {
		width: 100%;
	}

	

	.menu {
        /*position: relative;
        z-index: 100;*/
        position: absolute;
        right: 0;
        z-index: 100;
        left: 0;
    }

    .menu.open {
    	position: fixed;
    	height: 100%;
    	overflow: hidden;
    	overflow-y: auto;
    	left: 0;
    	padding-bottom: 25px;
    }

	.menu_list {
		width: 100%;
		display: none;
		margin-top: 55px;
	}

	.menu_list li {
		padding: 10px 0;
		display: block;		
		text-align: center;
		width: 100%;
		opacity: 0;
		/*background-color: rgba(255,255,255,.85);*/
		-webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
		
		-webkit-transform: scale(1.1) translateY(-24px);
    	-ms-transform: scale(1.1) translateY(-24px);
    	transform: scale(1.1) translateY(-24px);
	}

	.menu_list li:nth-child(1) {
	    -webkit-transition-delay: 0ms,0ms;
	    transition-delay: 0ms,0ms;
	}

	.menu_list li:nth-child(2) {
	    -webkit-transition-delay: 150ms,150ms;
	    transition-delay: 150ms,150ms;
	}

	.menu_list li:nth-child(3) {
	    -webkit-transition-delay: 300ms,300ms;
	    transition-delay: 300ms,300ms;
	}

	.menu_list li:nth-child(4) {
	    -webkit-transition-delay: 450ms,450ms;
	    transition-delay: 450ms,450ms;
	}

	.menu_list li:nth-child(5) {
	    -webkit-transition-delay: 600ms,600ms;
	    transition-delay: 600ms,600ms;
	}

	.menu_list li:nth-child(6) {
	    -webkit-transition-delay: 750ms,750ms;
	    transition-delay: 750ms,750ms;
	}

	.menu_list.open li {
		padding: 12px 0;
		opacity: 1;
		-webkit-transform: none;
    	-ms-transform: none;
    	transform: none;
	}


	.menu_btn i {
		display: none !important;
	}

	.article--hit .container {
		width: 100% !important;
		padding: 0;
	}

	.hit_list li {
		margin-bottom: 0;
	}

	.art_main {
		margin-bottom: 30px;
	}

	.article--map {
		margin-bottom: 0;
	}

	.lSSlideOuter .lSPager.lSGallery li {
		padding: 0;
	}

	.lSSlideOuter .lSPager.lSGallery li .tbl .in {
		padding: 0 20px;
	}

	.our_company_list li {
		margin-top: 45px;
	}

	.our_company_list li:first-child {
		margin-top: 0;
	}

	.our_company_list li .image-container {
		width: 100%;
		height: 220px;
		margin-bottom: 20px;
	}

	.our_company_list li .text_descr {
		width: 100%;
		height: auto;
		padding: 0 !important;
	}

	.our_company_list li .text_descr .tbl .in {
		vertical-align: top;
	}

	.our_company_list li .text_descr h2 {
		font-size: 38px;
	}

	/*.article--slider_main {
		height: 520px;
	}*/

	.text_in_slider {
		margin-top: 80px;
	}

	.text_in_slider h2 {
		font-size: 42px;
	}

	.about_01 .image-container {
		height: 333px;
	}

	.about_01 .text {
		bottom: 20px;
	}

	.about_01 .text p {
		line-height: 24px;
	}

	.article--inners {
		padding-top: 10px;
	}

	.article--inners {
		padding-top: 25px !important;
	}

	.top_infos h1 {
		font-size: 36px;
	}

	.section_list li,
	.team_list li {
		width: 100%;
	}

	.table_nice tr td:first-child {
		width: auto;
		padding-left: 15px;
	}

	.article--contacts_list h2.title {
		font-size: 30px;
	}

	.list_us_work li {
		width: 100%;
	}

	.article--cooper_us h2.title {
		font-size: 30px;
	}

	.article--cooper_us .man_contact .contact_list li {
		padding: 0 10px;
	}

	/*768 Service*/
	.service_in .services_list_in li {
		width: 100%;
	}

	.service_in .big_fon h2 {
	    font-size: 48px;
	}

	.service_in .services_list_in li h3 {
		
	}

	.service_inner_link.image-container .image {
		background-position: -660px top;
	}

	.service_inner_link .fon_light {
		padding: 30px;
		background-color: rgba(255,255,255,.65);
	}

	.service_inner_link .text h3 {
		font-size: 36px;
		margin-bottom: 30px;
	}

	/**/

	/*768 HiEnd*/
	.description_hiend .side_text h2 {
		font-size: 38px;
	}

	.article--skider_in .container {
		width: 100% !important;
		padding: 0;
	}
	/**/

	/*768 Arch*/
	.arch_in .big_fon {
		height: 200px;
	}

	.article--gallery_works .container {
		width: 100% !important;
		padding: 0;
	}
	/**/

	/*768 Portfolio*/
	.description_hiend .prlx_img.fancy_blocks .img {
		height: 200px;
	}

	.arch_in.portfolio_in .big_fon {
		height: 230px;
	}

	.hiend_in.service_in .big_fon {
		height: 680px;
	}

	.description_hiend .prlx_img.fancy_blocks {
		margin-top: -285px;
	}
	/**/

	.table_product th,
    .table_product td {
    	text-align: left;
    }

    .article--slider_product .after_slider {
    	margin: 30px 0;
    }

    .article--product_descr .banners {
    	background-repeat: no-repeat;
        background-color: #efbf9d;
    }

    .article--product_descr .banners .txt h2 {
    	font-size: 26px;
    }

    .article--product_descr .banners .txt p {
    	font-size: 15px;
    	line-height: 25px;
    	color: #25272a;
    	margin-bottom: 20px;
    }

    .article--tech {
    	margin-top: 30px;
    }

    /*768 Catalog*/
    /*.back_search {
    	left: 15px;
    }*/

    .catalog_list li .txt {
    	bottom: 20px;
    }

    .form_search {
		padding: 30px;
	}

	.slide_price {
		width: 380px;
	}

    /**/

    .service_in_text {
    	font-size: 22px;
    }

    .service_in_text p {
    	line-height: 32px;
    }

    .navi_service a {
    	left: 0;
    	right: 0;
    	width: 100%;
    	height: 120px;
    	position: relative;
    }

    .navi_service .next,
    .navi_service a.next .tooltips {
	    background-position: 93% center;
	}

	.pns li {
		width: 100%;
		margin-bottom: 30px;
	}

	.article--textfon p {
		font-size: 22px;
		line-height: 32px;
	}

	.article--ligth.art_main .container {
		width: 100% !important;
		padding: 0;
	}

	.light_for_you .fon_block .list_colors li {
		margin: 0 2px;
	}

	.article--blinds {
		margin: 33px 0;
	}

	.blinds .text p {
	    font-size: 18px;
	    line-height: 28px;
	    margin-left: 36%;
	}

	.navi_service {
	   position: relative;
	}

	.blogs_list li {
		height: 315px;
	}

	.blogs_list li .images_in_mask {
		height: 200px;
	}

	.blogs_list li .descr {
		padding: 12px 23px;
	}

	.blogs_list li .descr p {
		font-size: 20px;
		line-height: 28px;
		height: 90px;
	}

	/*768 Brand*/

	.list_brand_product li .inner .fon {
		opacity: 1;
	}

	.article--video_block video,
    .article--video_block iframe {
    	height: 300px !important;
    }

	/*768*/

	/*768 BlogInner*/
	.back_blog h1 {
		font-size: 38px;
	}

	.blockquote {
		font-size: 20px;
		line-height: 32px;
	}

	/*768*/

	/*Banners*/
	.banners__name {
		font-size: 36px;
		line-height: 46px;
	}

	.banners__inner {
		background-position: center;
	}
	/*End Banners*/

	.catalog_list__sub {
		width: 230px;
	}

	.catalog_list__sub > li {
		padding: 15px;
	}

	.catalog_list__sub {
		display: block;
		position: relative;
		left: 0;
		width: 100%;
		padding: 0;
	}

	.catalog_list__sub > li {
		height: auto;
	}


	.list-catalog {
		float: left;
	}

	.list-catalog__block {
		padding-top: 30px;
	}

	.list-catalog__column {
		width: 100%;
	}

	.social-table-responsive {
		border: 0;
	}

	.social-table td {
		width: 50%;
	}

	.banner-callback {
		padding: 20px 25px;
	}

	.banner-callback__info {
		float: left;
		width: 100%;
	}

	.md-slide__text h1 {
		font-size: 32px;
		line-height: 42px;
	}

	.service_in .services_list_in .price_service {
		font-size: 14px;
	}

	.after_slider .price {
		float: none;
	}

	.after_slider .price_sale_block {
		float: none;
		margin-right: 35px;
	}

	.basket__after-table .basket__summall-block {
		display: block;
		float: none;
		margin-top: 55px;
	}

	.basket__after-table .basket__summall-block .basket__after-table-text {
		font-size: 20px;
		display: block;
	}

	.basket__after-table .basket__summall-block .basket__after-table-summ {
		font-size: 26px;
	}

	.basket__after-table .basket__summall-block .button {
		float: none;
		margin-top: 25px;
	}

	.article--bottom .right {
		margin-bottom: 15px;
	}

	.article--basket .table-responsive {
		border: 0;
	}

	.basket__table th {
		display: none;
	}

	.basket__table td {
		display: block;
		padding: 15px 0;
		text-align: center;
	}

	.basket__table tr {
		border-top: 1px solid #e5e6ea;
	}

	.basket__table tr:first-child,
	.basket__table tr:nth-child(2) {
		border: 0;
	}

	.basket__table .basket__flex {
	    justify-content: center;
	}

	.article--more_fotos.more_fotos_two .more_fotos .img {
        width: 100% !important;
    }

    .pay-method li:nth-child(4) {
    	display: none;
    }

    .list-foto li {
    	width: 100%;
		height: 260px;
	}

	.social-plugins__item {
		width: 100%;
	}

	.print-page {
		top: 5px;
	}

	.md-slider__attr.article--slider_product .bx-wrapper .bx-pager.bx-default-pager a {
		width: 38px;
		height: 38px;
		line-height: 36px;
		font-size: 14px;
		margin: 5px;
	}

	.md-slider__attr.article--slider_product .bx-wrapper .bx-pager.bx-default-pager a::before {
		width: 50px;
		height: 50px;
		margin-top: -25px;
		margin-left: -25px;
	}

	.pay-method {
		width: 100%;
	}

	.article--bottom .social {
		text-align: center;
		float: none;
	}

	.social li {
		float: none;
		display: inline-block;
	}

	.article--bottom .right {
		width: 100%;
	}

	.article--bottom .contact_list {
		max-width: 180px;
		margin: 0 auto !important;
	}

	.copyright {
		font-size: 15px;
	    text-align: center;
	    width: 100%;
	    padding: 0;
	}

	.contact-data__line {
		margin-bottom: 0;
	}

	.contact-data__line .line-item {
		width: 100%;
		margin-bottom: 20px;
	}

	.line-item .line-item__head {
		margin-bottom: 5px;
	}

	.service-in-main li {
		width: 100%;
	}

	.service-in-main .in-main__text {
		font-size: 18px;
		line-height: 26px;
	}

	.modal_window.basket-good h4 {
    	padding: 0 70px;
    }

    .faq-search {
    	padding-left: 20px;
    	padding-right: 20px;
    }

    input.faq-search__input {
    	font-size: 16px;
    	padding-top: 19px;
    }

    .article--faq__inner h1 {
    	font-size: 38px;
    }

    .art_footer {
	    margin-top: 40px;
	}

	.complect-after-block {
		
	}

	.complect-after-block .basket__summall-block {
		margin-top: 0;
	}

	.p_fl,
	.p_fr {
		float: none;
	}

	.scheme-block__col {
		width: 100%;
		margin-bottom: 10px;
	}

	.inner-scheme {
		height: 185px;
	}

	.inner-scheme__image {
		margin-bottom: 15px;
	}

	.scheme-line,
	.scheme-block__col:empty {
		display: none;
	}
	.scheme-line-m {
		display: block;
	}
	
	/*New Service*/
	.top-banner__text {
		bottom: 40px;
	}
	.top-banner__text p {
		font-size: 26px;
		line-height: 34px;
	}
	.solutions-block__list li {
		width: 100%;
	}

	.price_summ_complect {
		display: block;
	}

	.mod--has-blog.service-inner__main-images .image-item {
		width: 100% !important;
	}

	.image-item .inner-item {
		height: 300px;
	}
	
}
/*End 768*/

@media only screen and (max-width: 679px) {
	.light_for_you .fon_block .list_colors li a {
		width: 83px;
	}

	.light_for_you .fon_block .list_colors li a.c01 {
        background: rgba(6,6,217,1);
		background: -moz-linear-gradient(45deg, rgba(6,6,217,1) 0%, rgba(209,203,37,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(6,6,217,1)), color-stop(100%, rgba(209,203,37,1)));
		background: -webkit-linear-gradient(45deg, rgba(6,6,217,1) 0%, rgba(209,203,37,1) 100%);
		background: -o-linear-gradient(45deg, rgba(6,6,217,1) 0%, rgba(209,203,37,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(6,6,217,1) 0%, rgba(209,203,37,1) 100%);
		background: linear-gradient(45deg, rgba(6,6,217,1) 0%, rgba(209,203,37,1) 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0606d9', endColorstr='#d1cb25', GradientType=1 );*/
    }

    .light_for_you .fon_block .list_colors li a.c02 {
        background: rgba(225,26,125,1);
		background: -moz-linear-gradient(45deg, rgba(225,26,125,1) 0%, rgba(16,172,86,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(225,26,125,1)), color-stop(100%, rgba(16,172,86,1)));
		background: -webkit-linear-gradient(45deg, rgba(225,26,125,1) 0%, rgba(16,172,86,1) 100%);
		background: -o-linear-gradient(45deg, rgba(225,26,125,1) 0%, rgba(16,172,86,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(225,26,125,1) 0%, rgba(16,172,86,1) 100%);
		background: linear-gradient(45deg, rgba(225,26,125,1) 0%, rgba(16,172,86,1) 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e11a7d', endColorstr='#10ac56', GradientType=1 );*/
    }

    .light_for_you .fon_block .list_colors li a.c03 {
        background: rgba(223,214,109,1);
		background: -moz-linear-gradient(45deg, rgba(223,214,109,1) 0%, rgba(21,53,168,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(223,214,109,1)), color-stop(100%, rgba(21,53,168,1)));
		background: -webkit-linear-gradient(45deg, rgba(223,214,109,1) 0%, rgba(21,53,168,1) 100%);
		background: -o-linear-gradient(45deg, rgba(223,214,109,1) 0%, rgba(21,53,168,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(223,214,109,1) 0%, rgba(21,53,168,1) 100%);
		background: linear-gradient(45deg, rgba(223,214,109,1) 0%, rgba(21,53,168,1) 100%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfd66d', endColorstr='#1535a8', GradientType=1 );*/
    }
}


@media only screen and (max-width: 504px) {
	
}


@media only screen and (max-width: 479px) {


	.container,
	.container--big,
	.slider_bottom .sldr > ul > li {
	    width: 320px !important;
	}

	.article--our_company .container {
		width: 100% !important;
		padding: 0;
	}

	.QAmt {
		font-size: 96px;
	}

	.article--bottom .right {
		float: none;
	}

	.article--bottom .social {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 25px;
	}

	.article--bottom .social li {
		float: none;
		display: inline-block;
	}

	.article--bottom .social li a {
		margin: 0;
	}

	.copyright {
		font-size: 15px;
		text-align: center;
		width: 100%;
		padding: 0;
		background: none;
	}

	.hit_list li {
		height: 280px;
	}

	.hit_list .text .type {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	.hit_list .text .name {
		font-size: 28px;
		line-height: 36px;
		margin: 0;
		margin-bottom: 15px;
	}

	.hit_list li:first-child .text {
		top: 40px;
		bottom: auto;
	}

	.art_main {
		margin-bottom: 0;
	}

	header .phone {
		display: none;
		z-index: 2;
	}

	header .open .phone.phone--mobile {
		display: block;
		color: #272e34;
		font-size: 16px;
		margin-top: 54px;

	}

	.our_company_list li .image-container {
		height: 180px;
	}

	.our_company_list li .text_descr {
		padding: 0 20px !important;
		text-align: left !important;
	}

	.our_company_list li .text_descr h2 {
		font-size: 24px;
	}

	.our_company_list li .text_descr p {
		font-size: 15px;
		line-height: 22px;
	}

	.article--map .info_adress .in h3 {
		font-size: 18px;
	}

	.maps {
		height: 410px;
	}

	.article--map .info_adress .in {
		bottom: 50px;
	}

	/*.article--slider_main {
		height: 340px;
	}*/

	.text_in_slider {
		margin-top: 165px;
	}

	.text_in_slider h2 {
		font-size: 32px;
	}

	.text_in_slider p {
		font-size: 15px;
		line-height: 22px;
	}

	.article--not_found {
		padding: 30px 0;
	}

	.article--not_found img {
		margin-bottom: 40px;
	}

	.article--not_found h1 {
		font-size: 24px;
	}

	.article--not_found a {
		font-size: 18px;
	}

	.about_01 .image-container {
		height: 225px;
	}

	.about_01 .text {
		bottom: 8px;
	}

	.about_01 .text p {
		font-size: 15px;
		line-height: 18px;
	}

	.top_infos h1 {
		font-size: 32px;
	}

	.about_02 .image-container .text p {
	    font-size: 18px;
	    font-weight: 300;
	    line-height: 28px;
	}

	.about_01 .inners_text_container {
	    padding-top: 25px !important;
	    padding-bottom: 15px !important;
	}

	.about_02 .image-container .image {
	    background-position: -175px 0;
	}

	.about_02 .image-container.is-visible .image {
		opacity: .4;
	}

	.pulse_holder {
		left: 2px;
	}

	.about_01 .inners_text_container {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.article--sections .container,
	.article--inners .container {
		width: 100% !important;
		padding: 0;
	}

	.section_list li {
		margin-bottom: 0;
	}

	.inputblock .placeholder {
		font-size: 16px;
		top: 29px;
	}

	.article--cooper_us .man_contact .contact_list li {
		margin-bottom: 15px;
	}

	.list_faq > li > .span {
		background-image: none !important;
		padding: 22px !important;
		padding-right: 44px !important;
	}

	.article--jobs {
		margin-top: 0;
	}

	/*480 Service*/
	.service_in .container {
		width: 100% !important;
	}

	.service_in .big_fon h2 {
	    font-size: 32px;
	}

	.service_in .services_list_in li {
		margin-bottom: 15px;
	}

	.service_inner_link.image-container .image {
		background-position: -790px top;
	}

	.service_inner_link .text {
		padding: 0;
	}

	.service_inner_link .tbl .in {
		vertical-align: bottom;
	}

	.flex-prev:hover .preview {
        left:-150px;
        opacity:0;
    }
        
        .flex-next:hover .preview {
            right:-150px;
            opacity:0;
        }

	/**/

	/*480 HiEnd*/

	

	.description_hiend .side_text {
		text-align: left !important;
	}

	.description_hiend .side_text h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.description_hiend .side_text p {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	.description_hiend .prlx_img .img {
		margin-bottom: 25px;
		height: 215px;
	}

	/**/

	/*480 ModalWindow*/
	.modal_window,
	.modal_window.basket-good {
		width: 100%;
		top: 5%;
		bottom: 5%;
		left: 0;
		margin-left: 0;
	}

	.modal_window.basket-good {
		height: 300px;
		bottom: auto;
	}

	.modal_window .fons {
		position: absolute;
		height: 99%;
		overflow-y: auto;
		padding-top: 70px;
	}

	.modal_window .forms {
	    padding: 33px 15px;
	}

	.bootstrap-select.btn-group .dropdown-toggle .filter-option,
	.dropdown-menu > li > a {
		font-size: 16px;
	}

	.btn-default {
		padding: 26px 25px;
	}

	/**/

	/*480 Portfolio*/
	.description_hiend .prlx_img.fancy_blocks {
		margin-left: 0;
		margin-right: 0;
	}

	.description_hiend .prlx_img.fancy_blocks .img {
		width: 100%;
		padding: 0;
	}
	/**/

	.article--product_descr .banners {
		height: auto;
	}

	.article--product_descr .banners .txt {
	    margin: 20px 10px;
	}

	/*480 Catalog*/
	.catalog_list li {
		width: 100%;
	}

	.pagin li a {
		font-size: 20px;
		width: 40px;
		padding: 10px 0;
	}

	.pagin #prev a,
    .pagin #next a {
    	display: none;
    }

    .form_search .list_categ li a {
    	font-size: 13px;
    	font-weight: 300;
    	padding: 20px 10px;
    	padding-left: 50px;
    }

    .form_search .list_categ li a {
    	background-position: 8px center !important;
    }

    .check_list li {
		width: 100%;
	}

	.slide_price {
		width: 200px;
	}

	.catalog_left .catalog_list,
	.catalog_left .catalog_list.cl_first {
		width: 100%;
	}

	/*480 Catalog*/

	.service_in .docs_block.right a.download {
       	padding-left: 40px;
        padding-right: 0;
        margin-right: 0;
        background-position: 1px center;
    }

    .service_in .description_hiend .prlx_img.fancy_blocks .img:first-child {
    	display: none;
    }


    .navi_service .next,
    .navi_service a.next .tooltips {
	    background-position: 91% center;
	}

	.service_in_tbl {
		margin-bottom: 20px;
	}

	.article--prev_next_service .container {
		width: 100% !important;
		padding: 0;
	}

	.pns {
		margin: 20px -15px;
		margin-bottom: 0;
	}

	.pns li {
		margin-bottom: 0;
	}

	.pns li a.prev {
		padding-left: 95px;
		background-position: 25px center
	}

	.pns li a.prev:hover {
		background-position: 25px center;
	}

	.pns li a.next {
		padding-right: 95px;
		background-position: 91% center;
	}

	.pns li a.next:hover {
		background-position: 91% center;
	}

	.complex_list li {
		width: 100%;
	}

	.article--cooper_us.product_in.service_iphone {
		padding-top: 33px;
	}

	.article--blinds .container {
		width: 100% !important;
		padding: 0;
	}

	.blinds .text p {
	    margin-left: 15%;
	}

	.blinds .img_blinds.slice {
        left: -79%;
    }

    .list_brands_new li {
		width: 100%;
		height: 290px;
	}

	.list_brands_new li .img {
		height: 200px;
	}

	.after_slider .price {
		font-size: 30px;
		white-space: nowrap;
		line-height: 42px;
	}

	.social-table td {
		text-align: center;
		width: 33.3333%;
	}

	.social-table a {
		padding: 0;
		width: 40px;
		height: 40px;
	}

	.social-table span {
		display: none;
	}

	.banner-callback__info p {
		font-size: 18px;
		line-height: 28px;
	}

	.searchform__header,
	.is--scroll.searchform .searchform__header {
		height: 185px;
	}

	.searchform__body,
	.is--scroll.searchform .searchform__body {
        top: 165px;
    }

	.searchform__body {
		padding-top: 40px;
	}

	.searchform__btn {
		top: 15px;
	}

	.searchform__input-block {
		bottom: 25px !important;
	}

	.searchform__input input {
		font-size: 16px;
		padding: 15px;
		padding-left: 60px;
	}

	.md-slider__block {
		padding: 25px;
		height: auto;
		min-height: 550px;
	}

	.md-slide .container {
		width: 100% !important;
	}

	.md-slide__fon {
		background-position: 70% center;
	}

	.md-slide.is--active .md-slide__fon {
		opacity: 0.3;		
	}

	.md-slide__text h1 {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 20px;
	}

	.md-slide__descr {
		color: #25272a;
	}

	.md-slide__phone {
		font-size: 24px;
		margin-top: 25px;
	}

	.after_slider .price_sale_block .old_price {
		font-size: 16px;
		line-height: 40px;
		color: rgba(37,39,42,.5);
	}

	.after_slider .price_sale_block .old_price:after {
		color: rgba(37,39,42,.5);
	}

	header .logo {
	    margin-top: 37px;
	    width: 140px;
	}

	.basket__modal-window .check_list li label {
		font-size: 11px;
		font-weight: 300;
	}

	.basket__modal-window .fons {
		padding-top: 41px;
	}

	.basket__modal-window h4 {
		font-size: 16px;
	}

	.radio-list label i {
		font-size: 12px;
		margin-left: 10px;
	}

	.radio-list li {
		margin-bottom: 10px;
	}

	.radio-list ul {
		padding-left: 20px;
		margin: 15px 0;
	}

	.infoline {
		font-size: 12px;
		padding: 10px 0;
	}

	.infoline .contact_list li a {
		font-size: 12px;
		background-image: none !important;
		padding: 0 !important;
	}

	.list-foto li {
		height: 220px;
	}

	.print-page {
		display: none;
	}

	.line-item__link a,
    .line-item__link span {
    	font-size: 18px;
    	line-height: 20px;
    }

    .blog-in-main li .in-main__text {
    	width: 70%;
    	height: auto;
    }

    #blogs-filter .form_search .list_categ li {
    	height: 55px;
    }

    #blogs-filter .form_search .list_categ li a {
    	padding: 10px 15px;
    }

    .basket-good__link {
    	font-size: 18px;
    	padding-top: 10px;
    }

    .order-block .inputblock input[type="text"],
    .order-block .inputblock textarea {
    	font-size: 18px;
    }

    .top-info {
    	padding: 100px 0;
    	margin-top: 25px;
    	margin-bottom: 25px;
    }

    .faq-block {
    	margin-bottom: 0;
    }

    .faq-block__inner {
    	padding: 33px;
    }

    .faq-block__inner h4 {
    	font-size: 18px;
    }

    .faq-block__inner li {
    	margin-top: 12px;
    }

    .complect-after-block .button {
    	margin-left: 0 !important;
    }
    .inner-scheme__name {
    	font-size: 18px;
    }

    #line01-m {
        margin-left: -130px;
    }
    #line02-m {
        margin-left: 130px;
    }
    #line04-m {
        margin-left: -50px;
    }
    #line05-m {
        margin-left: -90px;
    }
    #line06-m {
        margin-left: -130px;
    }
    #line07-m {
        margin-left: 130px;
    }
    #line10-m {
    	margin-left: 115px;
    }
    #line11-m {
        margin-left: 130px;
    }
    #line12-m {
        margin-left: -130px;
    }
    #line13-m {
        margin-left: 130px;
    }
    #line14-m {
    	height: 279px;
        margin-left: -130px
    }
    #line15-m {
    	height: 669px;
        margin-left: -90px;
    }
    #line16-m {
        margin-right: -131px;
    }
    #line14-m.scheme-line-m,
    #line15-m.scheme-line-m {
    	top: 155px;
    }

	.article--slider_product .after_slider .button {
		padding: 15px 20px;
	}

	.table-service-list th,
	.table-service-list td {
		font-size: 15px;
	}
}

/*End 480*/


@media only screen and (max-height: 579px) {
	

}


















