@headerBottomMenu: block;

@backgroundMain: #f6f6f6;
@backgroundLight: #fff;
@colorFirm: #111;
@colorFirmSecond: #999;
@colorBorder: #e5e5e5;
@colorBlack: #111;
@colorLight: #fff;

@fontFamily: 'Lato', sans-serif;
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?iefix') format('eot'),
  url('../fonts/Lato-Light.woff') format('woff'),
  url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: 300;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?iefix') format('eot'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: 400;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?iefix') format('eot'),
  url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: 700;
}
@fontSize: 16px;
@fontSizeMeddium: 20px;
@fontSizeMini: 13px;
@fontSizeFooter: 14px;
@fontSizeZero: 11px;
@productName: 32px;

@notebook: 1449px;
@notebookTable: 1199px;
@tablet: 1023px;
@mobile: 767px;
@phone: 479px;

@heightTopMenu: 85px;
@heightMenuCategory: 70px;
@footerSize: 525px;

@paddingTopBottom: 50px;
@paddingTopBottomInner: 40px;


.easy {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.easyBig {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.link-2 {
  li {
    width: 50%;
  }
}
.link-3 {
  li {
    width: 33.3333%;
  }
}
.link-4 {
  li {
    width: 25%;
  }
}
.link-5 {
  li {
    width: 20%;
  }
}
.link-6 {
  li {
    width: 16.65%;
  }
}
.link-7 {
  li {
    width: 14.2%;
  }
}
.link-8 {
  li {
    width: 12.5%;
  }
}
.link-9 {
  li {
    width: 11.1111%;
  }
}
.link-10 {
  li {
    width: 10%;
  }
}
